<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="FinalYearProject.BandRang">




    <application

        android:name=".BandRangApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Band Rang Card Game"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Record"></activity>
        <activity android:name=".GameActivity" />
        <activity android:name=".Rules" />
        <activity android:name=".Options" />
        <activity android:name=".MainMenu">

        </activity>


        <service
            android:name=".PlayAudio"
            android:enabled="true" />
    </application>
    <uses-permission android:name="android.permission.VIBRATE"/>
</manifest>